<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="page" value="1"/>
    <add key="datetime"/>
    <add key="threadSleepMin" value="15"/>
    <add key="switchImageAfter" value="2"/><!--Switch image to next, after given value in hours-->

    <add key="savePath" value="C:\Users\moddem\Downloads\wallpapers\"/>
    <add key="websiteUrl" value="https://wallpaperscraft.ru/all/2560x1080/"/>
    <add key="imageDownloadUrl" value="https://images.wallpaperscraft.ru/image/"/>
  </appSettings>
</configuration>